---
---
@import "yat";

.trigger {
    ul {
        display: inline-flex;
        list-style-type: none;
        li {
            color: $brand-color;
            display: inline-flex;
        }
    }
}
